<h1> DBZ Personajes</h1>
<hr>

<!-- NOTA: SI TIENE '[]' SON ATRIBUTOS
           SI TIENE '()' SON EVENTOS-->

<div class="row">
    <div class="col">
        <!-- PARA UTILIZAR LA PROPIEDAD DEFINIDA EN CONJUNTO CON EL INPUT, DEBEMOS IRNOS A LA ETIQUETA DEL COMPONENTE Y COLOCAR ENTRE '[]' EL NOMBRE DE LA PROPIEDAD ESTABLECIDAD EN LOS PARENTESIS DEL 'INPUT', SI EN CASO NO SE LE COLOCO NINGUN NOMBRE EN LOS PARANTESIS DEL INPUT, EL NOMBRE DE LA PROPIEDAD SERÁ CON LA QUE SE DEFINIDO EN EL COMPONENTE HIJO. LUEGO DE HABER COLOCADO EL NOMBRE DE LA PROPIEDAD ENTRE '[]', TENDREMOS QUE ASIGNARLE A ESTA PROPIEDAD '[listadoCaracteres]' LA PROPIEDAD EQUIVALENTE QUE SE ENCUENTRA EN EL COMPONENTE PADRE QUE ES 'characters'   -->
        <!-- SI EN CASO NO SE UTILIZA LA LA PROPIEDAD DEFINIDA EN CONJUNTO CON EL INPUT, SE VISUALIZARIA LA PROPIEDAD QUE SE ENCUENTRA EN EL COMPONENTE HIJO QUE ES EL 'characterList'-->
        <!-- PARA ESCUCHAR EVENTOS SE COLOCAN '()'
        ES POR ELLO, QUE PARA ESCUCHAR UN EVENTO EN EL COMPONENTE 'dbz-list' CADA QUE VEZ QUE ELIMINO UN PERSONAJE, SE DEBE COLOCAR 'onDelete' ENTRE '()'.
        AL MOMENTO DE REALIZAR EL EVENTO (onDelete) DE ELIMINACION DEL PERSONAJE LE ASIGNAMOS EL METODO 'onDeleteCharacter' Y TIENE COMO PARAMETRO '$event' PARA PODER RECIBIR EL INDICE QUE SE ESTA EMITIENDO EN EL HIJO Y PUEDA OBTENERLO EL PADRE. ASIMISMO TYPESCRIPT SABE QUE EL '$event' TIENE QUE SER DE TIPO 'number' PORQUE SINO GENERA ERROR EN CODIGO. -->
        <dbz-list [listadoPersonajes]="characters" 
                  (onDelete)="onDeleteCharacter($event)"></dbz-list>
        
        
    </div>
    <div class="col">
        <!--PARA ESCUCHAR EVENTOS SE COLOCAN '()'
        ES POR ELLO, QUE PARA ESCUCHAR UN EVENTO EN EL COMPONENTE 'dbz-add-character' CADA QUE VEZ QUE EMITA UN NUEVO PERSONAJE SE DEBE COLOCAR 'onNewCharacter' ENTRE '()'.
        AL MOMENTO DE REALIZAR EL EVENTO (onNewCharacter) DE EMITIR EL PERSONAJE LE ASIGNAMOS EL METODO 'addNewCharacter' Y TIENE COMO PARAMETRO '$event' PARA PODER RECIBIR EL OBJETO QUE SE ESTA EMITIENDO EN EL HIJO Y PUEDA OBTENERLO EL PADRE. ASIMISMO TYPESCRIPT SABE QUE EL '$event' TIENE QUE SER DE TIPO 'character' PORQUE SINO GENERA ERROR EN CODIGO. -->
        <dbz-add-character (onNewCharacter)="onNewPersonaje($event)"></dbz-add-character>
    </div>
</div>